# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
.venv/

# Data files
*.csv
*.xlsx
*.json

# AWS credentials (if you have an .env file)
.env

# IDE files (for PyCharm, VSCode, etc.)
.idea/
.vscode/

